{% extends 'layout.html' %}

{% block content %}
<div>
  <div class="legend">
    <!-- <div class="shape-holder"> <div class="cross"></div> </div>
    <div class="shape-holder"> <div class="circle"></div> </div>
    <div class="shape-holder"> <div class="square"></div> </div>
    <div class="shape-holder"> <div class="triangle"></div> </div>
    <div class="shape-holder"> <div class="heart"></div> </div> -->
  </div>
</div>


<div class="board">
  <div id="challenge"></div>
  <button class="btn btn-warning" id="new-shapes">Click Me!</button>
</div>

{% endblock %}
